/* Mixins available:
   -   border-radius           - arguments: Radius: 5px
   -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
*/
/* BORDER RADIUS */
/* BOX SHADOW */
/* @include box-shadow(2px, 2px, 5px, #FFFFFF); */
/* @include box-shadow(2px, 2px, 5px, #FFFFFF, inset); */
/* @include box-shadow-none(); */
/*BOX SIZING*/
/* line 7, Site.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, Site.scss */
.page-wrapper {
  width: 1024px;
  margin: 0 auto;
}

/* line 18, Site.scss */
body {
  background: url(../img/body-bg.png);
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 30px;
}

/* line 25, Site.scss */
header {
  height: 145px;
  padding-top: 61px;
  margin-bottom: 18px;
}

/* line 32, Site.scss */
.footer {
  margin: 0 auto;
  overflow: hidden;
  border-top: 1px solid #e1e1e1;
  padding: 28px 0 28px 0;
  width: 958px;
}
/* line 40, Site.scss */
.footer .footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 46, Site.scss */
.footer .footer-menu li {
  float: left;
  margin-left: 18px;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}
/* line 54, Site.scss */
.footer .footer-menu li a {
  color: #353434;
}
/* line 58, Site.scss */
.footer .footer-menu li a:hover {
  color: #70bf04;
}

/* line 67, Site.scss */
nav {
  background: url(../img/nav-bg.png) repeat-x #fdfdfd;
  position: relative;
  margin: 0px 0 0 0;
  padding: 10px 0 10px 10px;
  border-bottom: 1px solid #e3e3e3;
  -webkit-border-top-left-radius: 6px;
  -moz-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}
/* line 76, Site.scss */
nav ul {
  padding: 0;
  margin: 0;
}

/* line 83, Site.scss */
.border-none {
  border: none;
}

/* line 88, Site.scss */
.first {
  margin-left: 0;
}

/* line 93, Site.scss */
h4 {
  font-size: 18px;
  line-height: 23px;
  color: #70bf04;
  font-weight: normal;
  margin: 0;
}

/* line 102, Site.scss */
.top-nav-menu {
  list-style: none;
  position: relative;
  display: inline-table;
}
/* line 108, Site.scss */
.top-nav-menu li {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-left: 22px;
  float: left;
}
/* line 114, Site.scss */
.top-nav-menu li .top-nav-sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  list-style: none;
  width: 161px;
  padding: 1px 0 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #353434;
  z-index: 99;
}
/* line 126, Site.scss */
.top-nav-menu li .top-nav-sub-menu li {
  border-bottom: 1px solid #4c4a4a;
  width: 100%;
  float: none;
  position: relative;
  margin: 0;
  font-weight: normal;
}
/* line 135, Site.scss */
.top-nav-menu li .top-nav-sub-menu li a {
  color: #b2b2b2;
  padding: 7px 20px 9px;
  font-size: 12px;
}
/* line 141, Site.scss */
.top-nav-menu li .top-nav-sub-menu li a:hover {
  color: #fff;
}
/* line 149, Site.scss */
.top-nav-menu li:hover {
  background: url(../img/menu-hover.png);
}
/* line 153, Site.scss */
.top-nav-menu li:hover .top-nav-sub-menu {
  display: block;
}
/* line 159, Site.scss */
.top-nav-menu li a {
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  display: block;
  position: relative;
  font-size: 21px;
  line-height: 25px;
  color: #353434;
  font-weight: bold;
  padding: 11px 18px 16px;
  letter-spacing: -1px;
  text-transform: uppercase;
}

/* line 177, Site.scss */
.white-container {
  background: #fff;
}

/* line 182, Site.scss */
.panes-wrapper {
  padding: 28px;
}
/* line 186, Site.scss */
.panes-wrapper .left-pane {
  width: 620px;
  margin: 0 10px 0 10px;
}
/* line 191, Site.scss */
.panes-wrapper .left-pane h3 {
  letter-spacing: -1px;
  font-size: 21px;
  line-height: 26px;
  color: #353434;
  text-transform: uppercase;
  background: #f4f4f4;
  padding: 14px 20px 14px 19px;
  margin-bottom: 21px;
}
/* line 202, Site.scss */
.panes-wrapper .left-pane h3 span {
  color: #70bf04;
}
/* line 209, Site.scss */
.panes-wrapper .right-pane {
  width: 300px;
  margin: 0 10px 0 10px;
}
/* line 215, Site.scss */
.panes-wrapper .show-all-news {
  font-weight: bold;
  margin-left: 20px;
  background: url(../img/show-all-arrow.png) no-repeat right;
  padding-right: 10px;
}

/* line 224, Site.scss */
.slide-show {
  width: 100%;
  height: 491px;
  margin: 0 10px 0 10px;
}
/* line 230, Site.scss */
.slide-show .slide-caption {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 92px;
  background: #353434;
  padding: 15px 0 0 18px;
}
/* line 239, Site.scss */
.slide-show .slide-caption time {
  font-weight: bold;
  color: #70bf04;
  display: block;
}
/* line 246, Site.scss */
.slide-show .slide-caption a {
  font-size: 21px;
  margin: -3px 0 -1px;
  line-height: 26px;
  color: #fff;
  font-weight: 600;
}
/* line 254, Site.scss */
.slide-show .slide-caption a:hover {
  color: #70bf04;
}

/* line 262, Site.scss */
.slide-show-pagination {
  position: relative;
  width: 100%;
}

/* line 268, Site.scss */
a {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #70bf04;
  text-decoration: none;
}
/* line 277, Site.scss */
a:hover {
  color: #353434;
}

/* line 283, Site.scss */
article {
  font-size: 12px;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 20px;
  margin-bottom: 19px;
  overflow: hidden;
  position: relative;
}
/* line 292, Site.scss */
article .read-more {
  display: block;
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 14px;
}
/* line 301, Site.scss */
article .image-frame {
  float: left;
  display: block;
  width: 220px;
  height: 178px;
  background: url(../img/article-img.jpg) center;
  background-size: cover;
  margin: 0 20px 0 0;
  position: relative;
}
/* line 313, Site.scss */
article .publication-date {
  background: #379b01;
  display: inline-block;
  padding: 1px 9px 3px;
  color: #fff;
  border-radius: 2px;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 15px;
}
/* line 325, Site.scss */
article h4 {
  margin-bottom: 15px;
}
/* line 329, Site.scss */
article h4 a {
  margin: 0 0 15px 0;
}
